<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <!-- upper bar -->
    {{>navbar}}
    <!-- middle part -->
    <div class="middle">
        <div id="con2">Listening is</div>
        <span id="con4">Millions of songs and podcasts. No credit card needed.</span>
        <button id="btn1"><a href="">GET SPOTIFY FREE</a></button>
        <div id="color"></div>
    </div>
    <!-- lower part -->
    <div class="lower">
        <div id="icon2-con2"><a href="">
            <div id="icon2"><i class="fa fa-spotify" aria-hidden="true"></i></div>
            <span id="con2">Spotify</span></a></div>
        <div id="con5">
                <div> COMPANY</div>
                <div><a href=""> About</a></div>
                <div><a href=""> Jobs</a></div>
                <div><a href=""> For the Record</a></div>
        </div>
        <div id="con6">
                <div> COMMUNITIES</div>
                <div><a href=""> For Artists</a></div>
                <div><a href=""> Developers</a></div>
                <div><a href=""> Advertising</a></div>
                <div><a href=""> Investors</a></div>
                <div><a href=""> Vendors</a></div>
        </div>
        <div id="con7">
                <div>USEFUL LINKS</div>
                <div><a href=""> Help</a></div>
                <div><a href=""> Web Player</a></div>
                <div><a href=""> Free Mobile App</a></div>
                <div><a href=""> 2020 Wrapped</a></div>
        </div>
        <div id="con8">
            <div><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            <div><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
            <div><a href=""><i class="fa fa-facebook-f" aria-hidden="true"></i></a></div>
        </div>
        <div id="con9">
            <div><a href=""> Legal</a></div>
            <div><a href=""> Privacy Center</a></div>
            <div><a href=""> Privacy Policy</a></div>
            <div><a href=""> Cookies</a></div>
            <div><a href=""> About Ads</a></div>
            <div>© 2020 Spotify AB</div>
        </div>
        <div id="con10">
            <div><a href=""> India</a></div>       
            <div><a href=""> <img src="./india.jpg" alt=""></a></div>       

        </div>
    </div>
</body>

</html>