<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="center">
        <form action="/login" method="POST">
                <input type="email" name="email" id="email" class="email" placeholder="Enter your email">
                <input type="password" name="password" id="password" class="password" placeholder="Password">
                <button type="submit" value="Login">Login</button>
                <a href="/register">create a account</a>
        </form>
        
    </div>
</body>
</html>