<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="./Support.css">
</head>
<body>
    <!-- upper bar -->
    <div class="upper">
        <div id="icon-con"><a href="./index.html">
        <div id="icon1"><i class="fab fa-spotify"></i></div>
        <span id="con1">Spotify</span></a></div>
        <div id="upper2">
            <div><a href="">Premium</a></div>
            <div><a href="">Support</a></div>
            <div><a href=""> Download</a></div>
            <div>|</div>
            <div><a href=""> Sign up</a></div>
            <div><a href=""> Log in</a></div>
        </div>
    </div>
    <!-- middle part -->
    <!-- midlle part 1 -->
    <div class="middle1">
        <div id="color"></div>
        <div id="conm1">
            How can we help you?
        </div>
        <div id="conm2">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="" id="" placeholder="search">
        </div>
        <div id="conm3">
            <div id="conm4">
                <div id="conm5">
                    <div>
                        SUBSCRIPTION OPTIONS
                    </div>
                    <div>
                        <a href="">Start or join Family plan</a>
                    </div>
                </div>
                <div id="conm5">
                    <div>
                        ACCOUNT HELP
                    </div>
                    <div id="conm6">
                        <a href="">Can’t remember login details</a>
                    </div>
                </div>
                <div id="conm5">
                    <div>
                        ACCOUNT HELP
                    </div>
                    <div>
                        <a href="">Can't reset password</a>
                    </div>
                </div>
                <div id="conm5">
                    <div>
                        PRIVACY & SECURITY
                    </div>
                    <div id="conm7">
                        <a href="">Is this Spotify email legit?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- middle part2 -->
    <div class="middle2">
        <div id="conmo1">
            <div id="conmo2">
                <div> Account & Payment</div>
                <div><a href=""> Account Help</a></div>
                <div><a href=""> Payment Help</a></div>
                <div><a href=""> Subscription Options</a></div>
                <div><a href=""> Premium Family</a></div>
                <div><a href=""> Premium Duo</a></div>
                <div><a href=""> Premium Student</a></div>
                <div><a href=""> Privacy & Security</a></div>
            </div>
            <div id="conmo2">
                <div> Using Spotify</div>
                <div><a href=""> Video Tutorials</a></div>
                <div><a href=""> Getting Started</a></div>
                <div><a href=""> Playlists</a></div>
                <div><a href=""> Features</a></div>
                <div><a href=""> System & Settings</a></div>
                <div><a href=""> Troubleshooting</a></div>
            </div>
            <div id="conmo2">
                <div> Listen Everywhere</div>
                <div><a href=""> Speakers</a></div>
                <div><a href=""> TVs</a></div>
                <div><a href=""> Cars</a></div>
                <div><a href=""> Gaming</a></div>
                <div><a href=""> Smart Watches</a></div>
                <div><a href=""> Voice Assistants</a></div>
            </div>
        </div>
    </div>

    <!-- middle part 3 -->

    <div class="middle3">
        <div id="conmop1">
            Visit the Community
        </div>
        <div id="conmop2">
            Have questions? Find answers from our worldwide 
        </div>
        <button id="conmop3">
           <a href="">FIND ANSWERS</a>
        </button>
    </div>
    
    
    
















    <!-- lower part -->
    <div class="lower">
        <div id="icon2-con2"><a href="">
            <div id="icon2"><i class="fab fa-spotify"></i></div>
            <span id="con2">Spotify</span></a></div>
        <div id="con5">
                <div> COMPANY</div>
                <div><a href=""> About</a></div>
                <div><a href=""> Jobs</a></div>
                <div><a href=""> For the Record</a></div>
        </div>
        <div id="con6">
                <div> COMMUNITIES</div>
                <div><a href=""> For Artists</a></div>
                <div><a href=""> Developers</a></div>
                <div><a href=""> Advertising</a></div>
                <div><a href=""> Investors</a></div>
                <div><a href=""> Vendors</a></div>
        </div>
        <div id="con7">
                <div>USEFUL LINKS</div>
                <div><a href=""> Help</a></div>
                <div><a href=""> Web Player</a></div>
                <div><a href=""> Free Mobile App</a></div>
                <div><a href=""> 2020 Wrapped</a></div>
        </div>
        <div id="con8">
            <div><a href=""><i class="fab fa-instagram"></i></a></div>
            <div><a href=""><i class="fab fa-twitter"></i></a></div>
            <div><a href=""><i class="fab fa-facebook-f"></i></a></div>
        </div>
        <div id="con9">
            <div><a href=""> Legal</a></div>
            <div><a href=""> Privacy Center</a></div>
            <div><a href=""> Privacy Policy</a></div>
            <div><a href=""> Cookies</a></div>
            <div><a href=""> About Ads</a></div>
            <div>© 2020 Spotify AB</div>
        </div>
        <div id="con10">
            <div><a href=""> India</a></div>       
            <div><a href=""> <img src="./india.jpg" alt=""></a></div>       

        </div>
    </div>
</body>
</html>