<div class="upper">
        <div id="icon-con"><a href="/index">
        <div id="icon1"><i class="fa fa-spotify" aria-hidden="true"></i></div>
        <span id="con1">Spotify</span></a></div>
        <div id="upper2">
            <div><a href=""> Premium</a></div>
            <div><a href="./Support.html"> Support</a></div>
            <div><a href=""> Download</a></div>
            <div>|</div>
            <div><a href="/register"> Sign up</a></div>
            <div><a href="/login"> Log in</a></div>
        </div>
    </div>